%% -*- erlang -*-
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
{erl_opts, [ debug_info
           , warn_unused_vars
           , warn_shadow_vars
           , warn_unused_import
           , warn_obsolete_guard
           , warnings_as_errors
           ]}.

{plugins, [pc]}.

{provider_hooks,
  [ {pre,
      [ {compile, {pc, compile}}
      , {clean, {pc, clean}}
      ]}
  ]}.

%% When updating the NIF, you must update so_name and
%% src/nifversion.hrl to the same, newer, version.
%% That is if you want live upgrades to work reliably.
{port_specs,
  [ {"priv/btree-1.0.so", ["c_src/btree.c"]}
  ]}.

{port_env,
  [ {"(linux|darwin)", "CFLAGS", "$CFLAGS -O3 -fomit-frame-pointer -Wall -Werror"}
  ]}.

{deps,
 [ {proper, ".*",
    { git,
      "https://github.com/proper-testing/proper.git",
      {tag, "v1.4"} } }
 ]}.
